{% extends "base.html" %}

{% block conteudo %}

<h1>Histórico de Vendas</h1>

<p>
  Usuário: <b>{{ usuario }}</b> ({{ tipo }})
</p>

<a class="button" href="/registrar">Registrar Nova Venda</a>
<a class="button" href="/download">Baixar CSV</a>
<a class="button" href="/logout">Sair</a>

<br><br>

{% if vendas %}
<table>
    <tr>
        <th>Data</th>
        <th>Cliente</th>
        <th>Barbeiro</th>
        <th>Cabelo</th>
        <th>Barba</th>
        <th>Sobrancelha</th>
        <th>Produto</th>
        <th>Desconto</th>
        <th>Total</th>
    </tr>

    {% for v in vendas %}
    <tr>
        <td>{{ v.data }}</td>
        <td>{{ v.cliente }}</td>
        <td>{{ v.barbeiro }}</td>
        <td>R$ {{ v.cabelo }}</td>
        <td>R$ {{ v.barba }}</td>
        <td>R$ {{ v.sobrancelha }}</td>
        <td>R$ {{ v.produto }}</td>
        <td>R$ {{ v.desconto }}</td>
        <td><b>R$ {{ v.total }}</b></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Nenhuma venda registrada.</p>
{% endif %}

{% endblock %}
